@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@300&family=Playfair+Display:wght@700&family=Roboto:wght@100&display=swap');
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(1, 119, 146, 0.804),rgba(90, 0, 98, 0.736));
  }
  .calculator {
    width: 300px;
    padding: 20px;
    border: 1px solid #000000;
    background: linear-gradient(200deg,rgba(1, 61, 121, 0.642),rgba(129, 226, 248, 0.481),rgba(14, 211, 241, 0.729));
    border-radius: 7px;
    box-shadow: 15px 10px 15px rgba(218, 218, 218, 0.1);
  }
  .calculator p{
    font-size: 23px;
    color: #f4f4f4;
    margin-bottom: 13px;
    margin-top: 10px;
    text-align: center;
    border: 1.5px solid black;
    padding: 5px;
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
    background: rgba(203, 202, 202, 0.304);
  }
  #display {
    color: #f4f4f4;
    width: 91%;
    margin-bottom: 15px;
    padding: 12px;
    font-size: 18px;
    border: 1.5px solid rgb(4, 4, 4);
    border-radius: 3px;
    background: rgba(203, 202, 202, 0.304);
    backdrop-filter: blur(10px);
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    background-color: #fdfcfc59;
  }
  button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(360deg,rgba(2, 2, 2, 0.543),rgba(1, 99, 110, 0.689));
    border: 1.5px solid rgb(7, 7, 7);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #fdfcfc;
  }
  .symb{
    background-color: rgba(0, 53, 117, 0.579);
    border: 1.5px solid rgb(15, 15, 15);
    font-size: 25px;
    align-items: center;
  }
 